@model IEnumerable<Carvisto.Models.Trip>
@{
    ViewData["Title"] = "All Trips";
}
<h2>All Trips</h2>
<p><a asp-action="Create" class="btn btn-primary">Create New Trip</a></p>
<table class="table">
    <thead>
    <tr>
        <th>Start</th>
        <th>End</th>
        <th>Date</th>
        <th>Price</th>
        <th>Vehicle</th>
        <th>Comments</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var trip in Model)
    {
        <tr>
            <td>@trip.StartLocation</td>
            <td>@trip.EndLocation</td>
            <td>@trip.DepartureDateTime.ToString("yyyy-MM-dd")</td>
            <td>@trip.Price</td>
            <td>@trip.VehicleBrand</td>
            <td>@trip.Comments</td>
        </tr>
    }
    </tbody>
</table>